@import "tailwindcss";

@font-face {
  font-family: lau300;
  src: url(../public/fonts/Lausanne-300.woff2);
}
@font-face {
  font-family: lau500;
  src: url(../public/fonts/Lausanne-500.woff2);
}

body {
  background-color: #000;
  overflow-x: hidden;
}

@keyframes circleLoop {
  0% {
    stroke-dasharray: 0, 1000;      /* invisible */
  }
  40% {
    stroke-dasharray: 1000, 1000;   /* fully drawn */
  }
  60% {
    stroke-dasharray: 1000, 1000;   /* hold circle */
  }
  100% {
    stroke-dasharray: 0, 1000;      /* vanish */
  }
}

.animate-circle {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: circleLoop 4s ease-in-out infinite;
}
